#loginModal .modal-dialog {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important;
	-webkit-transform: translate(0, 50%) !important;
	vertical-align: middle;
}

#registerModal .modal-dialog {
    transform: translate(0, 10%) !important;
    -ms-transform: translate(0, 10%) !important;
	-webkit-transform: translate(0, 10%) !important;
	vertical-align: middle;
}

.invalid-feedback {
	color: crimson;
}

#product-nav {
	margin-bottom: 0;
	padding-bottom: 0;
}

#product-dropdown-menu {
	min-width: 0;
	width: 95px;
	margin-top: 0;
    padding-top: 0;
    margin-left: 15px;
	border-top-width: 0;
}

#profile-nav {
	margin-bottom: 0;
	padding-bottom: 0;
}

#profile-dropdown-menu {
	min-width: 0;
	width: 170px;
	margin-top: 0;
	padding-top: 0;
	border-top-width: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#fp-nav {
	top: 50%;
}

#fp-nav ul li .fp-tooltip {
	color: black;
}

#header, #footer:not(.fp-section) {
	height: 50px;
	display:block;
	width: 100%;
	/*background: #333;*/
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	/*padding: 20px 0 0 0;*/
}

#header {
	height: fit-content;
	position:fixed;
	top:0px;
	/*background-color: #eaf3ff;*/
}

#navlogo {
    height: 50px;
    width: 50px;
}

nav > ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
    .unhind-nav {
        margin-right: 25px;
    }
}

#footerlogo {
	height: 35px;
	width: 35px;
}

.btn-outline-primary {
    color: #0275d8;
    background-image: none;
    background-color: white;
    border-color: #0275d8;
    margin-right:10px;
}

.btn-outline-primary2 {
    color: #313336;
    background-image: none;
    background-color: transparent;
    border-color: #313336;
    margin-right:10px;
}

ul.image_picker_selector li div.thumbnail {
    cursor: pointer;
}

/*
.section:not(.fp-auto-height) {
	padding-top: 55px;
}*/

.features{
	background-image: linear-gradient(to bottom, #FFFEFF 0%, #D7FFFE 100%);
}

.products{
	background-image: linear-gradient(to bottom, #D7FFFE 0%, #a1c4fd 100%);

}

.work{
	background-image: linear-gradient(to bottom, #a1c4fd 0%, #2580B3 100%);
}

.fp-viewing-contact{
	background-color: white;
}

input[type="checkbox"] {
	box-shadow: none;
}

.btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:hover, .btn:active, .btn:focus, .btn:hover {
    box-shadow: 0 14px 26px -12px hsla(0, 0%, 60%, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px hsla(0, 0%, 60%, .2);
}

.carousel-control.right, .carousel-control.left {	
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    background-image: none;
}

.carousel-control.right:focus, .carousel-control.left:hover, .carousel-control.right:focus, .carousel-control.left:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #4285f4 #4285f4 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type=checkbox]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
}

[type=checkbox]:disabled:not(:checked)+label:before {
    border: none;
    margin-left: 2px;
    margin-top: 2px;
    background-color: rgba(0,0,0,.46);
}

[type=checkbox]:disabled:checked+label:before {
    border-color: transparent rgba(0,0,0,.46) rgba(0,0,0,.46) transparent;
}

[type=checkbox]+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #8a8a8a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
}

.password_link{
    margin-left: 15px;
    margin-bottom: 15px;
}

.real-form-group-fix{
    margin: auto;
    width: 50%;
}

.form-button{
    margin-top:10px;
}
