#header {
    background-color: #eaf3ff
}

.carousel {
	padding: 0;
}

@media (max-width: 992px) {
    .detail-right {
        margin-top: 15px;
    }
}

#detail-description {
    height: 80%
}

#detail-button-group {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    width: fit-content;
    margin-left: 30px;
}

.carousel-inner>.item>img.w100 {
    width: 100% !important;
}

.carousel-inner>.item>img.d-block {
    display: block !important;
}

.row {
    margin-right: 0;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.imagePickerModalButton {
    width: 25%;
}

.imagePickerModalButton > img {
    border-radius: 4.5px;
    width: 100%;
}

.imagePickerModalButton p {
    white-space: normal;
    width: 100%;
    padding: 0;
}

.image_picker_image {
    width: inherit;
}

.form-footer {
    overflow: hidden;
    border-top: 1px solid;
    padding: 5px;
}

.size-label {
    font-size: 70%;
}

#id_known_size_purchase, #id_known_size_repair {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

div.real-form-group {
    margin-bottom: 10px;
}

button.add-to-cart {
    float: right;
}

div.file-drop-zone {
    border: none;
}

.krajee-default.file-preview-frame .kv-file-content, .krajee-default.file-preview-frame .file-thumbnail-footer {
    height: fit-content;
}

.file-footer-buttons {
    margin-top: 5px;
}