{% extends 'admin/change_form.html' %}

{% load staticfiles %}

{% block extrahead %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/measurementbooking.js' %}"></script>
{{ media }}
{% endblock %}