{% extends "admin/base_site.html" %}
{% load i18n static %}

{% load staticfiles %}

{% block extrastyle %}{{ block.super }}

<script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'js/loadingoverlay.js' %}"></script>
<script src="{% static 'admin/js/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/fullcalendar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /><link rel="stylesheet" type="text/css" href="{% static 'admin/css/index.css' %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% load admin_index_extra %}
{% csrf_token %}
    <div class="to-quote-orders module">
        <a class="section" data-toggle="collapse" href="#collapseToQuoteOrders" aria-expanded="false" aria-controls="collapseToQuoteOrders">To-Quote Orders</a>
        <div class="collapse in" id="collapseToQuoteOrders">
            {% get_to_quote_orders as orders %}
            {% if orders %}
            <table>
                {% for order in orders %}
                    {% get_order_admin_url order as url %}
                    <tr class="model-to-make-orders">
                        <th scope="row"><a href="{{ url }}">{{ order }}</a></th>
                        <td>
                            <button id="btn-quote" type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse-quote_{{ order.id }}" aria-expanded="false" aria-controls="collapse-quote">Quote</button>

                            <form class="form-inline collapse collapse-quote" id="collapse-quote_{{ order.id }}">
                                <div class="row">
                                    <input name="order_id" type="hidden" class="order-id" value="{{ order.id }}">
                                    <div class="form-group col-md-6 col-xs-6">
                                        <div class="input-group" style="display: flex;">
                                            <input name="length" type="number" step="0.01" class="form-control" id="length" placeholder="L">
                                            <input name="width" type="number" step="0.01" class="form-control" id="width" placeholder="W">
                                            <input name="height" type="number" step="0.01" class="form-control" id="height" placeholder="H">
                                        </div>
                                    </div>

                                    {% is_repair_order order as is_repair %}
                                    {% if is_repair %}
                                    <div class="form-group col-md-2 col-xs-2">
                                        <input name="price" type="number" step="0.01" class="form-control" id="price" placeholder="Price">
                                    </div>
                                    {% endif %}

                                    <div class="form-group col-md-2 col-xs-2">
                                        <button type="button" class="btn btn-success btn-orders-submit">Submit</button>
                                    </div>
                                </div>
                            </form> 
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <div><a>No Order</a></div>
            {% endif %}
        </div>
    </div>

    <div class="waiting-orders module">
        <a class="section" data-toggle="collapse" href="#collapseWaitingOrders" aria-expanded="false" aria-controls="collapseWaitingOrders">Waiting Orders</a>
        <div class="collapse in" id="collapseWaitingOrders">
            {% get_waiting_orders as orders %}
            {% if orders %}
                <table>
                {% for order in orders %}
                    {% get_order_admin_url order.object as url %}
                    <tr class="model-waiting-orders">
                        <th scope="row"><a href="{{ url }}">{{ order.object }}</a></th>
                        <td>
                            <input name="order_id" type="hidden" class="order-id" value="{{ order.object.id }}">
                            <div class="input-group">
                                <div class="input-group-addon" style="width:7rem;">${{ order.calculated_price|floatformat:2 }}</div>
                                <button type="button" class="btn btn-info btn-received">Received Payment</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <div><a>No Order</a></div>
            {% endif %}
        </div>
    </div>

    <div class="to-make-orders module">
        <a class="section" data-toggle="collapse" href="#collapseToMakeOrders" aria-expanded="false" aria-controls="collapseToMakeOrders">To-Make Orders</a>
        <div class="collapse in" id="collapseToMakeOrders">
            {% get_to_make_orders as orders %}
            {% if orders %}
                <table>
                    {% for order in orders %}
                        {% get_order_admin_url order as url %}
                        <tr class="model-to-make-orders">
                            <th scope="row"><a href="{{ url }}">{{ order }}</a></th>
                            <td>
                                <input name="order_id" type="hidden" class="order-id" value="{{ order.id }}">
                                <button type="button" class="btn btn-info btn-made">Made</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div><a>No Order</a></div>
            {% endif %}
        </div>
    </div>

    <div class="to-deliver-orders module">
        <a class="section" data-toggle="collapse" href="#collapseToDeliverOrders" aria-expanded="false" aria-controls="collapseToDeliverOrders">To-Deliver Orders</a>
        <div class="collapse in" id="collapseToDeliverOrders">
            {% get_to_deliver_orders as orders %}
            {% if orders %}
                <table>
                    {% for order in orders %}
                        {% get_order_admin_url order as url %}
                        <tr class="model-to-make-orders">
                            <th scope="row"><a href="{{ url }}">{{ order }}</a></th>
                            <td>
                                <input name="order_id" type="hidden" class="order-id" value="{{ order.id }}">
                                <button type="button" class="btn btn-info btn-delivered">Delivered</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div><a>No Order</a></div>
            {% endif %}
        </div>
    </div>

    <div class="module">
        <table>
            <caption>
                <a class="section">Schedule</a>
            </caption>
        </table>
    </div>

    <div id="bookingjs" class="bookingjs has-timezonehelper has-avatar has-displayname">
        <div id="calendar" class="bookingjs-calendar">
        </div>
    </div>

    <!-- Create Occupied Timeslot Modal -->
    <div class="modal fade" id="createModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Occupied Timeslot</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="date" class="control-label">Date:</label>
                            <input type="text" class="form-control" id="date" disabled>
                        </div>
                        <div class="form-group">
                            <label for="timeslot" class="control-label">Timeslot:</label>
                            <input type="text" class="form-control" id="timeslot" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-create-event" type="button" class="btn btn-success">Event</button>
                    <button id="btn-create-booking" type="button" class="btn btn-success">Measurement Booking</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Occupied Timeslot Detail Modal -->
    <div class="modal fade" id="detailModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Occupied Timeslot</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div id="bookinginfo" class="row">
                            <input type="hidden" class="form-control" id="timeslot-id">
                            <input type="hidden" class="form-control" id="timeslot-type">
                            <div class="form-group col-xs-6 fixed-detail">
                                <label for="date" class="control-label">Date:</label>
                                <input type="text" class="form-control" id="date" disabled>
                            </div>
                            <div class="form-group col-xs-6 fixed-detail">
                                <label for="timeslot" class="control-label">Timeslot:</label>
                                <input type="text" class="form-control" id="timeslot" disabled>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="member" class="control-label">Member's Name:</label>
                                <input type="text" class="form-control" id="member" disabled>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="address" class="control-label">Address:</label>
                                <input type="text" class="form-control" id="address" disabled>
                            </div>
                            <div class="form-group col-xs-12">
                                <label for="orders" class="control-label">Orders:</label>
                                <div id="orders">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist" id="order-tablist">

                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content" id="order-tabcontent">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!--space for orders -->
                        <!--<div id="order_group">
                            <textarea class="form-control" id="order-detail" disabled></textarea>
                        </div> -->
                        <!--<div class="form-group">
                            <label for="detail" class="control-label">Data:</label>
                            <textarea class="form-control" id="detail" disabled></textarea>
                        </div> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-edit-event" type="button" class="btn btn-info">Edit</button>
                    <button id="btn-finish-booking" type="button" class="btn btn-success">Finish</button>
                </div>
            </div>
        </div>
    </div>

    </br>

    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
