{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}
<script src="{% static 'js/moment.min.js' %}"></script>

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<script src="{% static 'bootstrap-confirmation/js/bootstrap-confirmation.min.js' %}"></script>

<script src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<link href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" media="all" rel="stylesheet" type="text/css" />

<!--<script src="{% static 'summernote/summernote.min.js' %}"></script>
<link href="{% static 'summernote/summernote.css' %}" media="all" rel="stylesheet" type="text/css" />-->

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/index.css' %}" />
{% endblock %}

{% block content %}
{% csrf_token %}

<style>
.jsgrid {
	overflow: visible;
}

.jsgrid-grid-body, .jsgrid-grid-header.jsgrid-header-scrollbar {
	overflow: visible;
}

.jsgrid-reply-icon {
	color: dodgerblue;
}

.message-grids > div {
	margin-bottom: 30px;
}

#summernote-div {
	display: none;
}

.note-toolbar-wrapper.panel-default {
	margin-bottom: 10px;
}

.note-popover .popover-content, .panel-heading.note-toolbar {
	padding: 5px;
}

.note-btn.dropdown-toggle::after {
	display: none;
}

.note-popover .popover-content>.btn-group, .panel-heading.note-toolbar>.btn-group {
	margin-top: 2.5px;
}

</style>

<script>
$(document).ready(function() {
	var sendingToId = null;

	var loadMessages = function(filter, read) {
		var d;

		$.ajax({
			url: '/admin/getcontactmessages/	' + read + '/',
			type: 'POST',
			data: filter,
			headers: {"X-CSRFToken": getCookie("csrftoken")},
			async: false
		}).done(function(response) {
			d = response;
		});

		return {
			data: d.data,
			itemsCount: d.total_count
		};
	}

	var getFieldsArray = function(read, grid) {
		fields = [
			{ name: "id", title: "ID", type: "number", width: 80, editing: false, filtering: true, sorting: true, align: 'center', 
				filterTemplate: function() {
					return this._filterPicker = $('<input>').addClass('form-control').attr({'type': 'number', 'min': '0', 'step': '1'});
				},
				filterValue: function() {
					return this._filterPicker.val();
				}
			}, 
			{ name: "name", title: "Name", type: "text", width: 130, editing: false, filtering: true, sorting: true, align: 'center', 
				filterTemplate: function() {
					return this._filterPicker = $('<input>').addClass('form-control').attr({'type': 'text'});
				},
				filterValue: function() {
					return this._filterPicker.val();
				}
			}, 
			{ name: "email", title: "Email", type: "text", width: 200, editing: false, filtering: true, sorting: true, align: 'center', 
				filterTemplate: function() {
					return this._filterPicker = $('<input>').addClass('form-control').attr({'type': 'text'});
				},
				filterValue: function() {
					return this._filterPicker.val();
				}
			}, 
			{ name: "content", title: "Content", type: "text", width: 300, editing: false, filtering: true, sorting: true, align: 'left', 
				filterTemplate: function() {
					return this._filterPicker = input = $('<input>').addClass('form-control').attr({'type': 'text'});
				},
				filterValue: function() {
					return this._filterPicker.val();
				}
			}, 
			{ name: "created_at", title: "Created At", type: "text", width: 120, editing: false, filtering: true, sorting: true, align: 'center', 
				filterTemplate: function() {
					var div = $('<div>').addClass('row')
					var div2 = $('<div>').addClass('col-md-12')

					var input = $('<input>').addClass('form-control created-at').attr({'type': 'text'}).datetimepicker({
						format: 'YYYY-MM-DD',
						showClear: true,
						showClose: true,
						showTodayButton: true,
						toolbarPlacement: 'top',
						widgetParent: div2,
						widgetPositioning: {
							horizontal: 'right',
							vertical: 'bottom'
						},
						useCurrent: false,
						icons: {
							time: 'fa fa-clock-o',
				            date: 'fa fa-calendar',
				            up: 'fa fa-arrow-up',
				            down: 'fa fa-arrow-down',
				            previous: 'fa fa-arrow-left',
				            next: 'fa fa-arrow-right',
				            today: 'fa fa-dot-circle-o',
				            clear: 'fa fa-trash',
				            close: 'fa fa-times'
						}
					});

					return this._filterPicker = div.append(div2.append(input))
				},
				filterValue: function() {
					return this._filterPicker.find('input').eq(0).val();
				}
			},
			{ type: "control", width: 120, editButton:true, deleteButton:true,
				_createFilterSwitchButton: function() {
			   		return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
				},
            	itemTemplate: function(value, item) {
            		var result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                    var mainDiv = $('<div>');

            		if (!read) {
            			var doneIcon = $("<i>").attr({class: "fa fa-lg fa-check jsgrid-button-icon jsgrid-done-icon"});
	                    var doneButton = $("<a>").attr({"class": "jsgrid-custom-button", "data-toggle": "tooltip", "data-placement": "top"}).append(doneIcon);
	                    var doneDiv = $('<span>').addClass('jsgrid-button-wrapper').append(doneButton);
	                    doneDiv.tooltip({"title": "Read"});
	                    doneButton.on('click', function() {
	                    	doneButton.prop('disabled', true);
							$.ajax({
					            url: '/admin/readcontactmessage/',
					            type: 'POST',
					            data: 'message_id=' + item.id,
					            headers: {"X-CSRFToken": getCookie("csrftoken")},
					            success: function(data) {
					            	doneButton.prop('disabled', false);
					                if (data.result == true) {
					                	$("#unread-message-grid").jsGrid("loadData");
					                	$("#read-message-grid").jsGrid("loadData");
					                	generalNotify('success', 'Updated Successfully', null);
					                } else {
					                    generalNotify('danger', 'Operation Failed!', null);
					                }
					            }
					        });
						});

	                    mainDiv.append(doneDiv);
            		} else {
            			var backIcon = $("<i>").attr({class: "fa fa-lg fa-repeat jsgrid-button-icon jsgrid-back-icon"});
                    	var backButton = $("<a>").attr({"class": "jsgrid-custom-button", "data-toggle": "tooltip", "data-placement": "top"}).append(backIcon);
                    	var backDiv = $('<span>').addClass('jsgrid-button-wrapper').append(backButton);
                    	backDiv.tooltip({"title": "Reverse to Unread"});
                    	backButton.on('click', function() {
	                    	backButton.prop('disabled', true);
							$.ajax({
					            url: '/admin/unreadcontactmessage/',
					            type: 'POST',
					            data: 'message_id=' + item.id,
					            headers: {"X-CSRFToken": getCookie("csrftoken")},
					            success: function(data) {
					            	backButton.prop('disabled', false);
					                if (data.result == true) {
					                	$("#unread-message-grid").jsGrid("loadData");
					                	$("#read-message-grid").jsGrid("loadData");
					                	generalNotify('success', 'Updated Successfully', null);
					                } else {
					                    generalNotify('danger', 'Operation Failed!', null);
					                }
					            }
					        });
						});

                    	mainDiv.append(backDiv);
            		}

            		/*var replyIcon = $("<i>").attr({class: "fa fa-lg fa-reply jsgrid-button-icon jsgrid-reply-icon"});
                    var replyButton = $("<a>").attr({"class": "jsgrid-custom-button", "data-toggle": "tooltip", "data-placement": "top"}).append(replyIcon);
                    var replyDiv = $('<span>').addClass('jsgrid-button-wrapper').append(replyButton);
                    replyDiv.tooltip({"title": "Reply"});
                    replyDiv.on('click', function() {
                    	sendingToId = item.id;
                    	$('#summernote-div').find('input#email_to').val(item.email);
                    	$('#summernote').summernote('code', '<b>inserted html</b>');
                    	$('#summernote-div').show();
                    });

                    mainDiv.append(replyDiv);*/

            		var deleteIcon = $("<i>").attr({class: "fa fa-lg fa-trash-o jsgrid-button-icon jsgrid-delete-icon"});
                    var deleteButton = $("<a>").attr({"class": "jsgrid-custom-button", "data-toggle": "tooltip", "data-placement": "top"}).append(deleteIcon);
                    var deleteDiv = $('<span>').addClass('jsgrid-button-wrapper').append(deleteButton);
                    deleteDiv.tooltip({"title": "Delete"});
                    deleteButton.confirmation({
						title: 'Confirm?',
						placement: 'left',
						singleton: true,
						popout: true,
						rootSelector: deleteButton,
						container: $('body'),
						onConfirm: function() {
							deleteButton.prop('disabled', true);
							$.ajax({
				                url: '/admin/deletecontactmessage/',
				                type: 'POST',
				                data: 'message_id=' + item.id,
				                headers: {"X-CSRFToken": getCookie("csrftoken")},
				                success: function(data) {
				                	deleteButton.prop('disabled', false);
				                	if (data.result == true) {
					                	$("#unread-message-grid").jsGrid("loadData");
					                	$("#read-message-grid").jsGrid("loadData");
					                	generalNotify('success', 'Updated Successfully', null);
					                } else {
					                    generalNotify('danger', 'Operation Failed!', null);
					                }
				                }
				            });
						}
					});

					mainDiv.append(deleteDiv);

            		return mainDiv;
            	}
            }
		]

		return fields;
	}

	var generalConfig = {
		width: "100%",
		height: "auto",
		heading: true,
		inserting: false,
		filtering: true,
		editing: false,
		sorting: true,
		paging: true,
		autoload: true,
		pageLoading: true,
		confirmDeleting: false,

		pagerContainer: null,
	    pageIndex: 1,
	    pageSize: 10,

	    pageButtonCount: 10,
		pagerFormat: "{first} {prev} {pages} {next} {last}",
		pagePrevText: "Prev",
		pageNextText: "Next",
		pageFirstText: "<<",
		pageLastText: ">>",
		pageNavigatorNextText: "...",
		pageNavigatorPrevText: "...",
	    pagerContainerClass: "jsgrid-pager-container",
        pagerClass: "jsgrid-pager",
        pagerNavButtonClass: "jsgrid-pager-nav-button",
        pagerNavButtonInactiveClass: "jsgrid-pager-nav-inactive-button",
        pageClass: "jsgrid-pager-page",
        currentPageClass: "jsgrid-pager-current-page"
	}

	var getGridConfig = function(read, grid) {
		var config = {
			controller: {
				loadData: function(filter) {
					return loadMessages(filter, read);
				}
			},
			fields: getFieldsArray(read, grid)
		};

		return $.extend(generalConfig, config);
	};

	$("#unread-message-grid").jsGrid(getGridConfig(0, $("#unread-message-grid")));
	$("#read-message-grid").jsGrid(getGridConfig(1, $("#read-message-grid")));

	$("#unread-message-grid").jsGrid("option", "filtering", false);
	$("#read-message-grid").jsGrid("option", "filtering", false);

	/*$('#summernote').summernote({
		height: 300,
		minHeight: 300,
		maxHeight: null,
		toolbar: [
			['style', ['bold', 'italic', 'underline', 'clear']],
			['font', ['strikethrough', 'superscript', 'subscript']],
			['fontsize', ['fontsize']],
			['color', ['color']],
			['para', ['ul', 'ol', 'paragraph']],
			['height', ['height']]
		]
	});*/
});
</script>

<div class="message-grids">
	<div>
		<div><h4>Unread Messages:</h4></div>
		<div id="unread-message-grid"></div>
	</div>
	<div>
		<div><h4>Read Messages:</h4></div>
		<div id="read-message-grid"></div>
	</div>
	<!--<div id="summernote-div">
		<div><h4>New Email</h4></div>
		<div class="row">
		    <div class="form-group col-xs-8">
		        <label>To: </label>
		        <input type="text" class="form-control" id="email_to" disabled>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group col-xs-8">
		        <label>Subject: </label>
		        <input type="text" class="form-control" id="email_subject">
		    </div>
		</div>
		<div id="summernote"></div>
	</div>-->
</div>
{% endblock %}
