{% extends "admin/base_site.html" %}
{% load i18n static %}

{% load staticfiles %}

{% block extrastyle %}{{ block.super }}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/fullcalendar.css' %}" />

<script src="{% static 'js/loadingoverlay.js' %}"></script>

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<script src="{% static 'ekko-lightbox/js/ekko-lightbox.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'ekko-lightbox/css/ekko-lightbox.css' %}">

<script src="{% static 'bootstrap-confirmation/js/bootstrap-confirmation.min.js' %}"></script>

<script src="{% static 'admin/js/index.js' %}"></script>
<script src="{% static 'admin/js/index-grids.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /><link rel="stylesheet" type="text/css" href="{% static 'admin/css/index.css' %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% load admin_index_extra %}
{% csrf_token %}
    <div class="to-quote-orders order-grid-div">
        <a class="section collapsed" data-toggle="collapse" href="#collapseToQuoteOrders" aria-expanded="false" aria-controls="collapseToQuoteOrders">To-Quote Orders</a>
        <div class="collapse" id="collapseToQuoteOrders">
            <div id="to-quote-orders-grid"></div>
        </div>
    </div>
    </br>
    <div class="waiting-orders order-grid-div">
        <a class="section collapsed" data-toggle="collapse" href="#collapseWaitingOrders" aria-expanded="false" aria-controls="collapseWaitingOrders">Waiting Orders</a>
        <div class="collapse" id="collapseWaitingOrders">
            <div id="waiting-orders-grid"></div>
        </div>
    </div>
    </br>
    <div class="to-make-orders order-grid-div">
        <a class="section collapsed" data-toggle="collapse" href="#collapseToMakeOrders" aria-expanded="false" aria-controls="collapseToMakeOrders">To-Make Orders</a>
        <div class="collapse" id="collapseToMakeOrders">
            <div id="to-make-orders-grid"></div>
        </div>
    </div>
    </br>
    <div class="to-deliver-orders order-grid-div">
        <a class="section collapsed" data-toggle="collapse" href="#collapseToDeliverOrders" aria-expanded="false" aria-controls="collapseToDeliverOrders">To-Deliver Orders</a>
        <div class="collapse" id="collapseToDeliverOrders">
            <div id="to-deliver-orders-grid"></div>
        </div>
    </div>
    </br>
    <div class="unfulfilled-orders order-grid-div">
        <a class="section collapsed" data-toggle="collapse" href="#collapseUnfulfilledOrders" aria-expanded="false" aria-controls="collapseUnfulfilledOrders">Unfulfilled Orders</a>
        <div class="collapse" id="collapseUnfulfilledOrders">
            <div id="unfulfilled-orders-grid"></div>
        </div>
    </div>
    </br>
    <div class="module">
        <table>
            <caption>
                <a class="section">Schedule</a>
            </caption>
        </table>
    </div>

    <div id="bookingjs" class="bookingjs has-timezonehelper has-avatar has-displayname">
        <div id="calendar" class="bookingjs-calendar">
        </div>
    </div>

    <!-- Create Occupied Timeslot Modal -->
    <div class="modal fade" id="createModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Occupied Timeslot</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="date" class="control-label">Date:</label>
                            <input type="text" class="form-control" id="date" disabled>
                        </div>
                        <div class="form-group">
                            <label for="timeslot" class="control-label">Timeslot:</label>
                            <input type="text" class="form-control" id="timeslot" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-create-event" type="button" class="btn btn-success">Event</button>
                    <button id="btn-create-booking" type="button" class="btn btn-success">Measurement Booking</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Quote Modal -->
    <div class="modal fade" id="quoteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Quote</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <input name="order_id" type="hidden" class="order-id">
                            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <input name="length" type="number" step="0.01" class="form-control" id="length" placeholder="L">
                            </div>
                            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <input name="width" type="number" step="0.01" class="form-control" id="width" placeholder="W">
                            </div>
                            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <input name="height" type="number" step="0.01" class="form-control" id="height" placeholder="H">
                            </div>
                            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 price-input">
                                <input name="price" type="number" step="0.01" class="form-control" id="price" placeholder="Price">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-orders-quote">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Occupied Timeslot Detail Modal -->
    <div class="modal fade" id="detailModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Occupied Timeslot</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div id="bookinginfo" class="row">
                            <input type="hidden" class="form-control" id="timeslot-id">
                            <input type="hidden" class="form-control" id="timeslot-type">
                            <div class="form-group col-xs-6 fixed-detail">
                                <label for="date" class="control-label">Date:</label>
                                <input type="text" class="form-control" id="date" disabled>
                            </div>
                            <div class="form-group col-xs-6 fixed-detail">
                                <label for="timeslot" class="control-label">Timeslot:</label>
                                <input type="text" class="form-control" id="timeslot" disabled>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="member" class="control-label">Member's Name:</label>
                                <input type="text" class="form-control" id="member" disabled>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="address" class="control-label">Address:</label>
                                <input type="text" class="form-control" id="address" disabled>
                            </div>
                            <div class="form-group col-xs-12">
                                <label for="orders" class="control-label">Orders:</label>
                                <div id="orders">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist" id="order-tablist">

                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content" id="order-tabcontent">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!--space for orders -->
                        <!--<div id="order_group">
                            <textarea class="form-control" id="order-detail" disabled></textarea>
                        </div> -->
                        <!--<div class="form-group">
                            <label for="detail" class="control-label">Data:</label>
                            <textarea class="form-control" id="detail" disabled></textarea>
                        </div> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-edit-event" type="button" class="btn btn-info">Edit</button>
                    <button id="btn-finish-booking" type="button" class="btn btn-success">Finish</button>
                </div>
            </div>
        </div>
    </div>

    </br>

    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
