{% extends "admin/base_site.html" %}
{% load i18n %}


{% block content %}
<style>
.content-wrap div {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
}

.member-log {
    max-height: 1000px;
    max-width: none;
    height: 550px;
    font: 400 13.3333px Arial;
    font-family: monospace;
}

.member-log:disabled {
    background-color: white;
}

.btn-filter {
    border-radius: 0 0.25em 0.25em 0;
}

#button-export {
    color: white;
}
</style>

<script>
$(document).ready(function() {
    var firstNewLine = true;
    var page = 1;
    var filter_type = ''
    var filter_value = '';
    var loading = false;

    var getMoreLogs = function(go_to_bottom, clean) {
        loading = true;

        $.ajax({
            url: '/admin/memberlog/get/',
            type: 'POST',
            data: 'page=' + page + '&filter_type=' + filter_type + '&filter_value=' + filter_value,
            headers: {"X-CSRFToken": getCookie("csrftoken")},
            success: function(data) {
                if (data.result == true) {
                    if (!clean) {
                        var oldScrollHeight = $('#member-log').get(0).scrollHeight;
                    } else {
                        $('#member-log').text('');

                    }

                    for (var i = 0; i < data.data.length; i++) {
                        var newline = '';

                        if (!firstNewLine) {
                            newline = '\n';
                        }

                        if (firstNewLine) {
                            firstNewLine = false;
                        }

                        $('#member-log').text(data.data[i] + newline + $('#member-log').text());

                        loading = false;
                    }

                    if (go_to_bottom || clean) {
                        $('#member-log').scrollTop($('#member-log').get(0).scrollHeight);
                    } else {
                        $('#member-log').scrollTop($('#member-log').get(0).scrollHeight - oldScrollHeight);
                    }                    
                } else {
                    generalNotify('warning', data.message, null);
                }
            }
        });
    }

    getMoreLogs(true, false);

    $('#button-export').on('click', function(event) {
        event.target.href = '/admin/memberlog/export/' + filter_value;
        event.target.download = 'export.txt';
    });
    
    $('#button-filter-id').on('click', function(event) {
        $('#input-filter-name').val('');
        page = 1;
        filter_type = 0;
        firstNewLine = true;
        filter_value = $('#input-filter-id').val();
        getMoreLogs(true, true);
    });
    
    $('#button-filter-name').on('click', function(event) {
        $('#input-filter-id').val('');
        page = 1;
        filter_type = 1;
        firstNewLine = true;
        filter_value = $('#input-filter-name').val();
        getMoreLogs(true, true);
    });

    $('#input-filter-id').on('change', function() {
        if ($(this).val() != '') {
            $('#button-filter-id').prop('disabled', false);
        } else {
            $('#button-filter-id').prop('disabled', true);
        }
    })

    $('textarea#member-log').on('scroll', function() {
        if (this.scrollTop == 0) {
            if (!loading) {
                page++;
                getMoreLogs(false, false);
            }
        }
    });
});
</script>

<div class="row">
    <div class="input-group col-lg-3 col-md-3 col-sm-5">
        <input class="form-control" type="number" step="1" min="1" id="input-filter-id">
        <button class="btn btn-success btn-filter" id="button-filter-id" disabled>Filter By ID</button>
    </div>
    <div class="input-group col-lg-3 col-md-3 col-sm-5">
        <input class="form-control" type="text" id="input-filter-name">
        <button class="btn btn-success btn-filter" id="button-filter-name">Filter By Name</button>
    </div>
    <div class="input-group col-lg-2 col-md-2 col-sm-2">
        <a class="btn btn-success" id="button-filter-reset" href="/admin/memberlog/">Reset Filter</a>
    </div>
    <div class="input-group col-lg-1 col-md-1 col-sm-2">
        <a class="btn btn-info" id="button-export">Export</a>
    </div>
</div>
<div class="input-group col-xs-12">
    <textarea class="member-log form-control" id="member-log" disabled></textarea>
</div>
{% endblock %}