{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>

<title>
{% block title %}
{% endblock %}
</title>

{% include 'wingwoo/static_files.html' %}

{% block header %}
{% endblock %}
{% block subject %}{{title}} from Wing Woo Sail Maker{% endblock %}
{% block html %}
<p>Dear {{name}},</p>
<p>We are Wing Woo Sail Maker, and we would like to let you know that {{content}}</p>
<p>Should you have any enquiries, please contact Zoe Wong at 9687 8036 or wingwoosailmaker@gmail.com.</p>
<p>Best regards,</p>
<p>Wing Woo Sail Maker</p>
<div class="logo"><img src="{{logo}}" style="height:50px; width:50px;" id="navlogo"/></div>
{% endblock %}