{% extends 'wingwoo/base.html' %}
{% load staticfiles %}
{% block header %}
<link href="{% static 'css/footer-fixed.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}
{% block body %}
    <div class='real-form-group-fix'>
    <h2>Forgot password</h3>
    </div>
    <form method="post">
      {% csrf_token %}
      {% include "forms/form_base2.html" with form=form %}
      <div class='real-form-group-fix form-button'>
      <button type="submit" class="btn btn-primary btn-success">Submit</button>
      </div>
  </form>
{% endblock %}