{% extends 'wingwoo/base.html' %}
{% load staticfiles %}

{% block header %}
<link href="{% static 'css/footer-fixed.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block body %}
  {% if validlink %}
    <div class='real-form-group'>
    <h3>Change password</h3>
    </div>
    <form method="post">
      {% csrf_token %}
      {% include "forms/form_base.html" with form=form %}
      <div class='real-form-group'>
      <button type="submit">Change password</button>
      </div>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}