{% extends 'wingwoo/base.html' %}
{% load staticfiles %}
{% block header %}
<link href="{% static 'css/footer-fixed.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}
{% block body %}
    <p>
      Your password has been set. You may go ahead and <a href="{%url 'index'%}">sign in</a> now.
    </p>
{% endblock %}