{% extends 'wingwoo/base.html' %}
{% load staticfiles %}
{% block header %}
<link href="{% static 'css/footer-fixed.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}
{% block body %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}