{% extends 'wingwoo/base.html' %}
{% load staticfiles %}
{% block body%}
<div id="about">
    <!--start-feartures-->
    <div id="fea" class="features">
        <div class="container">
            <div class="head text-center">
                <h3><span> </span> Our Vision</h3>
                <p>Today many sail makers had moved their business and manufacturing process to mainland China or other countries. They develped mechanic ways to produce standard products. However, Wing Woo Sail Maker would like to stay in Hong Kong, maintaining high quality of service and timely response for request by producing tail-made sail products for each customers.</p>
            </div>
            <!-- start-features-grids-->
            <div class="features-grids text-center">
                <div class="col-md-3 features-grid">
                    <span class="fea-icon1"><img src="{% static 'images/premium.jpg' %}" style="border-radius: 60%; height:100%; width:100%"><i class="fa fa-star"></i> </span>
                    <h3>Premium</a></h3>
                    <p>Wing Woo has over 30 years history about hand-making sail products. Our master workers are experienced to produce sail products with accurate size and qualiative materials. Customers can also specify requirements for products.</p>
                </div>
                <div class="col-md-3 features-grid">
                    <span class="fea-icon1"><img src="{% static 'images/easy.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"><i class="fa fa-thumbs-up"> </i> </span>
                    <h3>Easy</a></h3>
                    <p>The e-commerence system provides convenient way for customers to check product details, quote price and make order. Customers who do not know the size can also book a timeslot for measurement in the system.</p>
                </div>
                <div class="col-md-3 features-grid">
                    <span class="fea-icon1"><i class="fa fa-tachometer"><img src="{% static 'images/fast.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"> </i> </span>
                    <h3>Fast</a></h3>
                    <p>The schedule for booking and order details are real-time update. Users are confirmed with most updated information. </p>
                </div>
                <div class="col-md-3 features-grid">
                    <span class="fea-icon1"><i class="fa fa-mobile"> <img src="{% static 'images/responsive.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"></i> </span>
                    <h3>Responsive</a></h3>
                    <p>Customers who find any problems can contact Wing Woo through online Customer Service Center and get instantaneous reply. Customers can also check the progress of their order in the System.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- //End-features-grids-->
        </div>
    </div>
    <!--//End-feartures-->
    <div class="work">
        <div class="container">
            <div class="head text-center work-head">
                <h3><span> </span> How We Work</h3>
                <p>Wing Woo receives orders from customers through e-commerence system and direct contact. After confirmed the order details and customised requirements,  we will begin to design and production. The progress of the manufacturing process will be updated and shown to customers in the system.</p>
            </div>
            <!-- start-work-grids-->
            <div class="work-grids">
                <div class="col-md-4 work-grid">  
                    <div class="col-md-7 work-info">
                        <span class="fea-icon1"><i class="fa fa-mobile"> <img src="{% static 'images/receive order.jpg' %}" style="border-radius: 50%; height:100%; width:100%"></i> </span>
                        <h4>Receive Order</h4>
                        <p>Customers can place order through our system after registered an user account. Without known size of products, customers can choose to book a timeslot for accurate measurement of size by our staff.</p>
                    </div>
                </div>
                <div class="col-md-4 work-grid center-work-grid">
                    <div class="col-md-7 work-info">
                         <span class="fea-icon1"><i class="fa fa-mobile"> <img src="{% static 'images/design.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"></i> </span>
                        <h4>Design</h4>
                        <p>The design will be done by our experienced staff. Communication with customers will be kept through the design process to make sure customer's satisfaction.</p>
                    </div>
                </div>
                <div class="col-md-4 work-grid">
                    <div class="col-md-7 work-info">
                        <span class="fea-icon1"><i class="fa fa-mobile"> <img src="{% static 'images/produce.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"></i> </span>
                        <h4>Produce</h4>
                        <p>All sail products are hand-made by skillful masters in Hong Kong. Quality checking will be implemented to each product. </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="work-map">
                    <span> </span>
                </div>
            </div>
            <!-- //End-work-grids-->
        </div>
    </div>
    <!-- //End-work-->
</div>
{% endblock %}