{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>

<title>
{% block title %}
{% endblock %}
</title>

{% include 'wingwoo/static_files.html' %}

{% block header %}
{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->

<!--start-top-nav-script-->
<script type="text/javascript">
$(document).ready(function() {
	$('#registerModalButton').on('click', function() {
		$.ajax({
			async: true,
			url: "{% url 'getform' %}",
			type: 'POST',
			data: 'form_name=register',
			headers: {"X-CSRFToken": getCookie("csrftoken")},
			success: function(data) {
				$("#registerModalBody").html(data)
				$('#registerModal').modal('show');
				}
		});
	});

	$('#loginModalButton').on('click', function() {
		$.ajax({
			async: true,
			url: "{% url 'getform' %}",
			type: 'POST',
			data: 'form_name=login',
			headers: {"X-CSRFToken": getCookie("csrftoken")},
			success: function(data) {
				$("#loginModalBody").html(data)
				$('#loginModal').modal('show');
			}
		});
	});

	$('#button-login').on('click', function() {
		$.ajax({
			async: true,
			url: "{% url 'login' %}",
			type: 'POST',
			data: $("#loginForm").serialize(),
			headers: {"X-CSRFToken": getCookie("csrftoken")},
			success: function(data) {
				console.log(data)
				if (data.result == true) {
					location.reload();
				} else {
					alert("Wrong username or password")
				}
			}
		});
	});

	$('.login-modal-content').keypress(function(e){
		if(e.which == 13) {
			$.ajax({
			async: true,
			url: "{% url 'login' %}",
			type: 'POST',
			data: $("#loginForm").serialize(),
			headers: {"X-CSRFToken": getCookie("csrftoken")},
			success: function(data) {
				console.log(data)
				if (data.result == true) {
					location.reload();
				} else {
					alert("Wrong username or password")
				}
			}
		});
		}
	})

	$('#button-register').on('click', function() {
		$.ajax({
			async: true,
			url: "{% url 'register' %}",
			type: 'POST',
			data: $("#registerForm").serialize(),
			headers: {"X-CSRFToken": getCookie("csrftoken")},
			success: function(data) {
				console.log(data)
				if (data.result == true) {
					location.reload();
				} else {
					$("#registerModalBody").html(data)
				}
			}
		});
	});

	$('.register-modal-content').keypress(function(e){
		if(e.which == 13) {
			$.ajax({
			async: true,
			url: "{% url 'register' %}",
			type: 'POST',
			data: $("#registerForm").serialize(),
			headers: {"X-CSRFToken": getCookie("csrftoken")},
			success: function(data) {
				console.log(data)
				if (data.result == true) {
					location.reload();
				} else {
					$("#registerModalBody").html(data)
				}
			}
		});
		}
	})

	$('#product-nav').click(function() {
		var location = $(this).attr('href');
		window.location.href = location;
		return false;
	});

	$('#loginModal').on("shown.bs.modal", function() {
    	$('[name="username"]').focus();
	});
	
	$('#registerModal').on("shown.bs.modal", function() {
    	$('[name="username"]').focus();
	});
	
});
</script>

{% if request.user.is_authenticated %}
<script type="text/javascript">
var URL_NYT_GET_NEW = '{% url "nyt:json_get" %}';
var URL_NYT_MARK_READ = '{% url "nyt:json_mark_read_base" %}';
var URL_NYT_GOTO = '{% url "nyt:goto_base" %}';

var nyt_oldest_id = 0;
var nyt_latest_id = 0;

// Customixed error handling?
function ajaxError(){}

$.ajaxSetup({
	timeout: 7000,
	cache: false,
	error: function(e, xhr, settings, exception) {
		ajaxError();
	}
});

function jsonWrapper(url, callback) {
	$.getJSON(url, function(data) {
		if (data == null) {
			ajaxError();
		} else {
			callback(data);
		}
	});
}

function nyt_update() {
	jsonWrapper(URL_NYT_GET_NEW+nyt_latest_id+'/', function (data) {
		if (data.success) {
			if (data.objects.length> 0) {
				$('.notification-cnt').addClass('badge-important');
				$('.notifications-empty').hide();
			} else {
				$('.notification-cnt').removeClass('badge-important');
			}

			var count = 0;

			//$('.notification-li').remove();

			for (var i=data.objects.length-1; i >=0 ; i--) {
				var n = data.objects[i];
				nyt_latest_id = n.pk>nyt_latest_id ? n.pk:nyt_latest_id;
				nyt_oldest_id = (n.pk<nyt_oldest_id || nyt_oldest_id==0) ? n.pk:nyt_oldest_id;
				count += parseInt(n.occurrences);
				if (n.occurrences > 1) {
					element = $('<li><a href="'+URL_NYT_GOTO+n.pk+'/"><span>'+n.message+'</span> <span class="since">'+n.occurrences_msg+' - ' + n.since + '</span></a></li>')
				} else {
					element = $('<li><a href="'+URL_NYT_GOTO+n.pk+'/"><span>'+n.message+'</span> <span class="since">'+n.since+'</span></a></li>');
				}
				element.addClass('notification-li');
				element.hide();
				element.insertAfter('.notification-before-list');
				element.show('slow');
			}

			if (parseInt(data.total_count) > 0) {
				$('.notification-cnt').html(data.total_count);
			} else {
				$('.notification-cnt').html('0');
			}

			if (data.total_count == 0) {
				$('[data-toggle="popover"]').popover('hide');
			} else{
				$('[data-toggle="popover"]').popover({trigger: 'manual'}).popover('show');
				$('[data-toggle="popover"]').on('mouseover',function(){$(this).popover('hide');});
			}
		}
	});
}

// Mark all <li> items read and tell the server.
function nyt_mark_read(e) {
	e.preventDefault();

	$('.notification-li').remove();

	var url = URL_NYT_MARK_READ+nyt_latest_id+'/'+nyt_oldest_id+'/';
	nyt_oldest_id = 0;
	nyt_latest_id = 0;

	jsonWrapper(url, function (data) {
		if (data.success) {
			$('.notifications-empty').show();
			nyt_update();
		}
	});
}

var socket = new WebSocket("ws://localhost:8000/nyt");
$(document).ready(function () {
	nyt_update();
	socket.onopen = function() {
		socket.send("hello world");
	}
	socket.onmessage = function(e) {
		nyt_update();
	}
});
</script>
{% endif %}

<style>
li.profile-li {
	display: inline-flex;
}

a#profile-nav {
	padding: 0.1em 1em;
	padding-right:0
}

a#noti-nav {
	padding: 0.1em 1em;
	padding-left:3px;
}

span.notification-cnt {
	display: inline;
}

ul#notifications {
	right: 0; left: auto;
}

li.notification-before-list > h4 {
    color: darkgrey;
    text-indent: 15px;
}

li.notification-before-list > h4 > a {
	padding-left: 0;
	display: inline;
}

li.notification-before-list > h4 > a > i {
	display: unset;
}

li.notification-li {
	padding-right: 5px;
}

li.notification-li a span.since {
	color: grey;
    font-size: 80%;
}

div#footer div p {
	display: inline-block;
}

ul.dropdown-menu {
	margin-top: 0;
}
</style>

</head>
	<body>
		<div class="container" id="header">
			<nav class="top-nav">	
				<div class="logo">
					<a href="{%url 'index'%}"><img src="{% static 'images/wwlogo2.png' %}" id="navlogo"/></a>
				</div>
				<ul class="unhind-nav">
					{% if request.user.is_authenticated %}
					<li class="page-scroll profile-li ">

						<div class="dropdown">
							<a class="scroll dropdown-toggle" id="noti-nav" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown"><span class="badge notification-cnt"></span></a>
							<ul class="dropdown-menu" id="notifications" aria-labelledby="noti-nav">
								<li class="notification-before-list"><h4 class="header">Notifications <a href="" onclick="nyt_mark_read(event)"><i class="fa fa-check-circle" aria-hidden="true"></i></a></li></h4>
								<li class="notifications-empty"><a href=""><em>No notifications</em></a></li>
							</ul>
						</div>
					</li>
					
					{% else %}
					<li class="page-scroll"> <button type="button" class="btn btn-outline-primary btn-lg" id="registerModalButton">Register</button>
					<li class="page-scroll"> <button type="button" class="btn btn-primary btn-lg" id="loginModalButton">Login</button></li>
					{% endif %}
				</ul>

				<ul class="top-nav" id="top-nav">
					<li class="page-scroll {% if page == 'home' %} active {% endif %}"><a href="/#top" class="scroll">Home</a></li>
					<li class="page-scroll"><a href="/#ourvision" class="scroll">Our Vision</a></li>
					<li class="page-scroll {% if page == 'products' %} active {% endif %}">
						<div class="dropdown">
							<a href="/#products" class="scroll dropdown-toggle" id="product-nav" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Products</a>
							<ul id="product-dropdown-menu" class="dropdown-menu" aria-labelledby="product-nav">
								<li class="page-scroll"><a href="/products/cushion" class="scroll">Cushion</a></li>
								<li class="page-scroll"><a href="/products/cover" class="scroll">Cover</a></li>
								<li class="page-scroll"><a href="/products/top" class="scroll">Top</a></li>
								<li class="page-scroll"><a href="/products/carpet" class="scroll">Carpet</a></li>
							</ul>
						</div>
					</li>
					<li class="page-scroll"><a href="/#howwework" class="scroll">How We Work</a></li>
					<li class="page-scroll"><a href="/#contact" class="scroll">Contact</a></li>

					{% if request.user.is_authenticated %}
					<li class="page-scroll {% if page == 'orders' %} active {% endif %}"><a href="/orders" class="scroll">My Orders</a></li>
					<li class="page-scroll {% if page == 'viewprofile' %} active {% endif %}">
					<div class="dropdown">
						<a href="{% url 'view_profile' %}" class="scroll dropdown-toggle" id="product-nav" data-hover="dropdown" aria-haspopup="true" aria-expanded="true" >My Profile</a>

						<ul id="profile-dropdown-menu" class="dropdown-menu" aria-labelledby="product-nav">
							<li><a href="{% url 'view_profile' %}" class="scroll">User Profile</a></li>
							<li><a href="{% url 'change_password' %}" class="scroll">Change Password</a></li>
							<li class="page-scroll"><a href="{% url 'logout' %}">Logout</a></li>
						</ul>
					</div>
					</li>
					{% endif %}
				</ul>
				<a href="#" id="pull"><img src="{% static 'images/nav-icon.png' %}" title="menu" /></a>

			</nav>
		</div>

		<div id="fullpage">
		{% block home %}
		{% endblock %}

		{% block body %}
		{% endblock %}

			<div class="footer container section fp-auto-height" id="footer">
				<div class="footer-left">
					<p>Copyright owned by Wing Woo Sail Maker </p>
					<a href="{%url 'index'%}"><img src="{% static 'images/wwlogo2.png' %}" title="Mabur" id="footerlogo"/></a>
				</div>
			</div>

		</div>

		{% csrf_token %}

		<!-- Register Modal -->
		<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content register-modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="registerModalLabel">Register</h4>
					</div>
					<form id="registerForm">
						<div class="modal-body" id="registerModalBody">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="button" id="button-register" class="btn btn-primary">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content login-modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="loginModalLabel">Login</h4>
					</div>
					<form id="loginForm">
						<div class="modal-body" id="loginModalBody">
						</div>
						<div class="password_link"><a href="{%url 'password_reset'%}">Forget password</a></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="button" id="button-login" class="btn btn-primary">Login</button>
							</div>
					</form>
				</div>
			</div>
		</div>

	</body>
</html>