{% extends 'wingwoo/base.html' %}
{% load staticfiles%}
{% block body%}
		<!--start-contact-->
        <div id="contact" class="contact"> 
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d923.1933505583074!2d114.15142974962!3d22.248674723032227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400039ff5ee61%3A0x8bce9a41c7d48662!2z6aaZ5riv5LuU6aaZ5riv5LuU5aSn6YGTMjM06Jmf5a-M5ZiJ5bel5qWt5aSn5buI!5e0!3m2!1szh-TW!2shk!4v1521284467100" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
               
            </div>
                <div class="contact-grids">
                    <div class="col-md-6 contact-left" id="contactgrid">
                        <h3><span> </span> Contact</h3>
                        <p><i class="fa fa-map-marker"> </i> Room 6, 5/F, Fullagar Industrial Building, No. 234 Aberdeen Main Road, Aberdeen, Hong Kong
</p>
                        <form role="form" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p}}
                            <p class="conditions"> <label><span>*</span>Have questions? Send an email to Wing Woo.</label></p>
                            <span class="submit-btn"><button type="submit">Send</span>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
        </div>
    <!--//End-contact-->
{% endblock %}