{% extends 'wingwoo/base.html' %}
{% load staticfiles %}

{% block header %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block title %}
Wing Woo Sail Maker
{% endblock %}

{% block body%}
    <div class="background section"> 
        <div class="slide-text text-center">
            <h1>Wing Woo Sail Maker</h1>
            <span>WELCOME TO OUR COMPANY</span>
            <a class="slide-btn" href="/#ourvision">Learn More</a>
        </div>
    </div>

    <!--start-feartures-->
    <div class="container features section">
        <div class="head text-center">
            <h3><span> </span> Our Vision</h3>
            <p>Wing Woo Sail Maker provides tail-made products for ships, including cover, top, cushion and carpet. We have a great team to offer unique and customised products in more than 30 years.</p>
        </div>
        <!-- start-features-grids-->
        <div class="features-grids text-center">
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><img src="{% static 'images/premium.jpg' %}" style="border-radius: 60%; height:100%; width:100%"></span>
                <h3><a href="#">Premium</a></h3>
                <p>Our staffs are experienced to produce sail products with accurate size and qualiative materials with specified requirements.</p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><img src="{% static 'images/easy.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"></span>
                <h3><a href="#">Easy</a></h3>
                <p>The system acts as a convenient platform for customers to check product details, quote price and make order. Customers can book a timeslot for measuring ship size.</p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><img src="{% static 'images/fast.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"></span>
                <h3><a href="#">Fast</a></h3>
                <p>The schedule for booking and order details are real-time update. Users are confirmed with most updated information. </p>
            </div>
            <div class="col-md-3 features-grid">
                <span class="fea-icon1"><img src="{% static 'images/responsive.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"></span>
                <h3><a href="#">Responsive</a></h3>
                <p>Customers who find any problems can contact Wing Woo through online Customer Service Center.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //End-features-grids-->
    </div>
    <!--//End-feartures-->

    <div class="container products section">
        <div id="port" class="portfolio portfolio-box">
            <div class="head text-center">
                <h3><span> </span> Products</h3>
            </div>
                <!--start-portfolio-->
            <!-- start-features-grids-->
            <div class="features-grids text-center">
                {% for product in products %}
                <div class="col-md-3 features-grid">
                    <span class="product-icon"><a href="products/{{ product.href }}"><img src="{% static product.image.image.url %}" style="border-radius: 60%; height:100%; width:100%"></span>
                    <h3>{{ product.title }}</h3></a>
                    <p>{{ product.description }}</p>
                </div>
                {% endfor %}
                
                <div class="clearfix"> </div>
            </div>
            <!-- //End-features-grids-->
        </div>
    </div>

    <div class="container work section">
        <div class="head text-center work-head">
            <h3><span> </span> How We Work</h3>
            <p>Wing Woo receives orders through e-commerence system and direct contact. After confirmed the details and customised requirements, we start the design and production. Customer can check the status of order and related details in system.</p>
        </div>
        <!-- start-work-grids-->
        <div class="work-grids">
            <div class="col-md-4 work-grid" id="workgrid1">  
                <div class="work-info text-center">
                    <span class="fea-icon1"><img src="{% static 'images/receive order.jpg' %}" style="border-radius: 50%; height:100%; width:100%"></span>
                    <h4 >Receive Order</h4>
                    <p>Customers can place order through our system after registered an user account. Without known size of products, customers can choose to book a timeslot for accurate measurement of size by our staff.</p>
                </div>
            </div>
            <div class="col-md-4 work-grid center-work-grid" id="workgrid2">
                <div class="work-info text-center">
                     <span class="fea-icon1"><img src="{% static 'images/design.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"></span>
                    <h4>Design</h4>
                    <p>The design will be done by our experienced staff. Communication with customers will be kept through the design process to make sure customer's satisfaction.</p>
                </div>
            </div>
            <div class="col-md-4 work-grid" id="workgrid3">
                <div class=" work-info text-center">
                    <span class="fea-icon1"><img src="{% static 'images/produce.jpeg' %}" style="border-radius: 50%; height:100%; width:100%"></span>
                    <h4>Produce</h4>
                    <p>All sail products are hand-made by skillful masters in Hong Kong. Quality checking will be implemented to each product. </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //End-work-grids-->
    </div>

    <div class="container contact section"> 
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d923.1933505583074!2d114.15142974962!3d22.248674723032227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400039ff5ee61%3A0x8bce9a41c7d48662!2z6aaZ5riv5LuU6aaZ5riv5LuU5aSn6YGTMjM06Jmf5a-M5ZiJ5bel5qWt5aSn5buI!5e0!3m2!1szh-TW!2shk!4v1521284467100" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
           
        </div>
            <div class="contact-grids">
                <div class="col-md-6 contact-left" id="contactgrid">
                    <h3><span> </span> Contact</h3>
                    <p><i class="fa fa-map-marker"> </i> Room 6, 5/F, Fullagar Industrial Building, No. 234 Aberdeen Main Road, Aberdeen, Hong Kong</p>
                    <p><i class="fa fa-envelope"> </i> wingwoosailmaker@gmail.com</p>
                    <p class="conditions"> <label>Have questions? Leave a message or send us an email.</label></p>
                    <form role="form" action="" method="post" id="contactForm">
                        {% csrf_token %}
                        {{ form.as_p}}
                        
                        <button type="submit" class="submit-btn slide-btn-small">Send</button>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
    </div>
    <!-- //End-work-->
{% endblock %}

