{% load staticfiles %}

<style>
div#color-image-preview {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

div#color-image-preview > img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 6px;
	width: 50%;
}

div#color-image-preview > p {
	font-size: 1.2em;
    padding: 0;
    margin: 0;
    color: darkgray;
	white-space: normal;
	width: 100%;
	text-align: center;
}

div#color-picker-wrapper {
	overflow-y: auto;
	max-height: 255px;
}

div.image-picker-wrapper {
    border-width: 1em;
    border-color: black;
    overflow-y: auto;
}

ul.image_picker_selector {
    width: 100%;
}

ul.thumbnails.image_picker_selector li {
    width: 14%;
    margin-bottom: 5px;
}

ul.image_picker_selector li div {
	margin-bottom: 0;
}

ul.image_picker_selector li div img {
	border-radius: 3px;
}

ul.image_picker_selector li div p {
	font-size: 0.6em;
    padding: 0;
    margin: 0;
    color: black;
	white-space: normal;
	width: 100%;
}

@media only screen and (max-width: 768px){
	ul.image_picker_selector li div p {
		display: none;
	}
}
</style>

<script>
$(document).ready(function() {
	$('select#id_color').on('change', function() {
		$('div#color-image-preview img').attr('src', $(this).find(":selected").attr('data-img-src'));
		$('div#color-image-preview p').text($(this).find(":selected").text());
	});

	$('#colorModal').on('show.bs.modal', function () {
		$('div#color-image-preview img').attr('src', $('select#id_color').find(":selected").attr('data-img-src'));
		$('div#color-image-preview p').text($('select#id_color').find(":selected").text());
	})
});
</script>

<div class="modal fade" id="colorModal" tabindex="-1" role="dialog" aria-labelledby="colorModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    		<h4 class="modal-title" id="colorModalLabel">Select Color</h4>
			</div>
			<div class="modal-body" id="colorModalBody">
				<div id="color-image-preview">
					<img>
					<p>
				</div>
				<div id="color-picker-wrapper" class="image-picker-wrapper">
					<select name="color" class="form-control image-picker {{ class }}" id="id_color" required>
						{% for color in queryset %}
							<option data-img-src="{% static color.image.url %}" data-img-alt="{{ color.code }}" value="{{ color.id }}" {% if fooloop.counter == 1 %} data-img-class="first" {% endif %}>{{ color.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button type="button" id="button-color-submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>