{% extends 'wingwoo/base.html' %}
{% load staticfiles %}

{% block header %}
<script src="{% static 'kartik-v-bootstrap-tabs-x/js/bootstrap-tabs-x.min.js' %}" type="text/javascript"></script>
<link href="{% static 'kartik-v-bootstrap-tabs-x/css/bootstrap-tabs-x.min.css' %}" media="all" rel="stylesheet" type="text/css" />

<link href="{% static 'image-picker/css/image-picker.css' %}" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="{% static 'image-picker/js/image-picker.min.js'%}"></script>

<script src="{% static 'kartik-v-bootstrap-fileinput/js/fileinput.js' %}" type="text/javascript"></script>
<link href="{% static 'kartik-v-bootstrap-fileinput/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />

<link href="{% static 'css/footer-fixed.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/product_detail.css' %}" rel='stylesheet' type='text/css' />
<script>
$(document).ready(function() {
	$(".detail-right").tabsX({
	    enableCache: true,
	    maxTitleLength: 10
	});

	var pheight = 0;
	var pwidth = 0;
	var plength = 0;

	var rheight = 0;
	var rwidth = 0;
	var rlength = 0;

	var price = 0;
	var quantity = 0;
	var result = false;

	$('.add-to-cart-form').on('submit', function() {

	})

	$('#purchase-form').find('#id_known_size_purchase').on('change', function() {
		if ($(this).is(':checked') == true){
			pheight = $('#purchase-form').find('#id_height').val();
			pwidth = $('#purchase-form').find('#id_width').val();
			plength = $('#purchase-form').find('#id_length').val();
			$('#purchase-form').find('#id_height').val('').prop('disabled', true);
			$('#purchase-form').find('#id_width').val('').prop('disabled', true);
			$('#purchase-form').find('#id_length').val('').prop('disabled', true);
			$('#purchaseprice').empty().append('will be updated after measurement');
			console.log('checked');
		} else {
			$('#purchase-form').find('#id_height').val(pheight).prop('disabled', false);
			$('#purchase-form').find('#id_width').val(pwidth).prop('disabled', false);
			$('#purchase-form').find('#id_length').val(plength).prop('disabled', false);

			if (result == false) {
					$('#purchaseprice').html('waiting for size information');
			} else {
				if (quantity != null) {
					$('#purchaseprice').html('HKD$'+price);
				} else {
					$('#purchaseprice').html('waiting for quantity information');
				}
			}
			console.log('unchecked', pheight, pwidth, plength);
		}
	});

	$('#repair-form').find('#id_known_size_repair').on('change', function() {
		if ($(this).is(':checked') == true){
			rheight = $('#repair-form').find('#id_height').val();
			rwidth = $('#repair-form').find('#id_width').val();
			rlength = $('#repair-form').find('#id_length').val();
			$('#repair-form').find('#id_height').val('').prop('disabled', true);
			$('#repair-form').find('#id_width').val('').prop('disabled', true);
			$('#repair-form').find('#id_length').val('').prop('disabled', true);
			$('#repairprice').empty().append('Notice: Price will be quoted after measurement');
			console.log('checked');
		} else {
			$('#repair-form').find('#id_height').val(rheight).prop('disabled', false);
			$('#repair-form').find('#id_width').val(rwidth).prop('disabled', false);
			$('#repair-form').find('#id_length').val(rlength).prop('disabled', false);
			$('#repairprice').empty().append('Notice: Price will be quoted by Wing Woo');
			console.log('unchecked', rheight, rwidth, rlength);
		}
	});

	$("#id_color, #id_pattern").imagepicker({
		show_label: false
	});
	
	$("#button-color-submit").on('click', function() {
		var selected_div = $('#colorModalBody').children().children().find("div.selected");
		var select_index = $('ul.image_picker_selector').children().index(selected_div.parent());

		$("select#id_color").children().eq(select_index).attr("selected", "selected");

		$("#colorModalButton").html(selected_div.html());
		$("#colorModal").modal('hide');
	});

	$("#button-pattern-submit").on('click', function() {
		var selected_div = $('#patternModalBody').children().children().find("div.selected");
		var select_index = $('ul.image_picker_selector').children().index(selected_div.parent());

		$("select#id_pattern").children().eq(select_index).attr("selected", "selected");

		$("#patternModalButton").html(selected_div.html());
		$("#patternModal").modal('hide');
	});

    $('.boatModalButton').on('click', function() {
        $.ajax({
            url: "{% url 'getform' %}",
            type: 'POST',
            data: 'form_name=boat',
            headers: {"X-CSRFToken": getCookie("csrftoken")},
            success: function(data) {
                 $("#boatModalBody").html(data)
                 $('#boatModal').modal('show');
            }
        });
    });
  
    $('#button-boat').on('click', function() {
        $.ajax({
            url: "{% url 'boat' %}",
            type: 'POST',
            data: $("#boatForm").serialize(),
            headers: {"X-CSRFToken": getCookie("csrftoken")},
            success: function(data) {
                console.log(data)
                if (data.result == true) {
                	$('#purchase-form').find('#id_boat').append(new Option(data.boat_label, data.boat_id, false, true));
                	$('#repair-form').find('#id_boat').append(new Option(data.boat_label, data.boat_id, false, true));
                	$("#boatModal").modal('hide');
                    //location.reload();
                } else {
                    $("#boatModalBody").html(data)
                }
            }
        });
    });

    $("#purchase-form").find("#id_quantity, #id_length, #id_width, #id_height, #id_waterproof, #id_underlay, #id_edge").on('change', function() {
    	$.ajax({
            url: "{% url 'getpricedetail' %}",
            type: 'POST',
			data: $("#purchase-form").find(":input, :checkbox").serialize(),
			dataType: 'json',
            headers: {"X-CSRFToken": getCookie("csrftoken")},
            success: function(data) {
                console.log(data)
                if (data.result == true) {
                	var pricestring = data.detail.total_unit_price;
                	price = parseFloat(pricestring).toFixed(2);
                	quantity = data.detail.quantity;
                    $("#purchaseprice").html("HKD$"+price*quantity);
                    result = true;
                    if (quantity == null) {
                    	$("#purchaseprice").html('waiting for quantity information');
                    }
                } 
                else {
                	quantity = null;
                	result = false;
                	$("#purchaseprice").html('waiting for size information');
                }
            }
        });
    });

    $("#repair-form").find("#id_image").fileinput({
    	overwriteInitial: true,
	    maxFileSize: 1500,
	    showClose: false,
	    showCaption: true,
	    showBrowse: true,
	    showUpload: false,
	    showPreview: true,
	    browseOnZoneClick: true,
	    dropZoneEnabled: false,
	    layoutTemplates: {footer: '<div class="file-thumbnail-footer">\n' +
		'    {actions}\n' +
		'</div>'}
		,
	    allowedFileExtensions: ["jpg", "jpeg", "png", "gif"]
	});
});
</script>
{% endblock %}

{% block title %}
{{ category }}
{% endblock %}

{% block body%}
	<ol class="breadcrumb">
		<li><a href="/#products">Products</a></li>
		<li class="active">{{ category }}</li>
	</ol>
	<div class="head">
		<div class="row">
			<div class="col-md-6">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						{% for i in images %}
					    	<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %} active {% endif %}"></li>
					    {% endfor %}
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						{% for image in images %}
						<div class="item {% if forloop.counter == 1 %} active {% endif %}">
							<img src="{% static image.image.url %}" class="w100 d-block" data-holder-rendered="true">
						</div>
						{% endfor %}
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

			<div class="col-md-6 detail-right tabs-x tabs-below tabs-krajee tab-bordered">
				<div id="myTabContent-tabs-below" class="tab-content">
					<div id="detail-description" class="tab-pane fade in active">
						<h3 align="left">Features</h3>
						<ul style="list-style-type:disc; text-align:left">
							{% for feature in features %}
								<li>{{ feature }}</li>
							{% endfor %}
						</ul>
						{% if category == "Carpet" %}
							<h4 align="left">Shaggy Carpet Price: HKD${{ price|add:product.shaggy_pattern_purchase_unit_price }}/ft²</h4>
							<h4 align="left">Pile Carpet Price: HKD${{ price|add:product.pile_pattern_purchase_unit_price }}/ft²</h4>
							<h4 align="left">Add-ons:</h4>
							<h5 align="left">Waterproof: +HKD${{ product.waterproof_purchase_unit_price|add:"0" }}/ft²</h5>
							<h5 align="left">Underlay: +HKD${{ product.underlay_purchase_unit_price|add:"0" }}/ft²</h5>
							<h5 align="left">Edge: +HKD${{ product.edge_purchase_unit_price|add:"0" }}/ft</h5>
						{% elif category == "Cushion" %}
							<h4 align="left">Price: HKD${{ price|add:product.purchase_unit_price_for_color|add:"0" }}/ft²</h4>
						{% else %}
							<h4 align="left">Price: HKD${{ price|add:product.purchase_unit_price_for_color|add:"0" }}/ft</h4>
						{% endif %}
					</div>

					<div id="purchase-form" class="tab-pane fade">
						{% if category == "Carpet" %}
							{% include "forms/CarpetPurchaseOrder.html" with form=cpform url=purchaseurl product_id=product.id is_authenticated=is_authenticated %}
						{% else %}
							{% include "forms/GeneralPurchaseOrder.html" with form=gpform url=purchaseurl product_id=product.id is_authenticated=is_authenticated %}
						{% endif %}
					</div>

					<div id="repair-form" class="tab-pane fade">
						{% include "forms/RepairOrder.html" with form=rpform url=repairurl is_authenticated=is_authenticated %}
					</div>
				</div>

				<ul id="myTab-tabs-below" class="nav nav-tabs" role="tablist">
			        <li class="active"><a href="#detail-description" role="tab-kv" data-toggle="tab"><i class="fa fa-info-circle"></i> Detail</a></li>
			        <li id="tab-purchase"><a href="#purchase-form" role="tab-kv" data-toggle="tab"><i class="fa fa-shopping-cart"></i> Purchase</a></li>
			        <li id="tab-repair"><a href="#repair-form" role="tab-kv" data-toggle="tab"><i class="fa fa-wrench"></i> Repair</a></li>
			    </ul>
				
				<!-- <div id="detail-button-group">
					<button type="button" id="btn-purchase" class="btn btn-outline-primary2 btn-success btn-lg">Purchase</button>
					<button type="button" id="btn-repair" class="btn btn-outline-primary2 btn-success btn-lg">Repair</button>
				</div> -->
			</div>
		</div>
	</div>

	{% include 'forms/boat.html' %}
{% endblock %}

<!---<div class="slideshow-container">
	{% for image in images %}
	<div class="mySlides">
		<img src="{% static image.image.url %}" style="width:100%; height:100%;vertical-align: middle;">  
	</div>
	{% endfor %}
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
	{% for i in images %}
		<span class="dot" onclick="currentSlide({{ forloop.counter }})"></span> 
	{% endfor %}
</div>
-->