{% extends 'wingwoo/base.html' %}
{% load staticfiles %}

{% block header %}
<link href="{% static 'css/footer-fixed.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block body%}
   <!--start-portfolio-->
    <div id="port" class="portfolio portfolio-box">
    	<div class="head text-center" style="margin-top: 30px;">
    		<h3><span> </span> Our Products</h3>
    		
    	</div>
    		<!--start-portfolio-->
        <!-- start-features-grids-->
        <div class="features-grids text-center">
            {% for product in products %}
            <div class="col-md-3 features-grid">
                <span class="product-icon"><a href="{{ product.href }}"><img src="{% static product.image.image.url %}" style="border-radius: 60%; height:100%; width:100%"></span>
                <h3>{{ product.title }}</h3></a>
                <p>{{ product.description }}</p>
            </div>
            {% endfor %}
            
            <div class="clearfix"> </div>
        </div>
        <!-- //End-features-grids-->
    </div>
{% endblock %}