{% load staticfiles %}

<link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/static/icon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/icon/favicon-16x16.png" sizes="16x16">
<link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<!-- jquery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

<!-- w3layout js -->
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>

<!-- w3layout css -->
<link href="{% static 'css/theme-style.css' %}" rel='stylesheet' type='text/css' />

<!--font-Awesome-->
<link rel="stylesheet" href="{% static 'fonts/css/font-awesome.min.css' %}">

<!-- bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.js"></script>

<!-- main js -->
<script src="{% static 'js/main.js' %}"></script>

<!-- main css -->
<link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css' />

<!-- bootstrap-notify -->
<script type="text/javascript" src="{% static 'bootstrap-notify/js/bootstrap-notify.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap-notify/css/animate.css' %}" type="text/css"/>

<script src="{% static 'bootstrap-confirmation/js/bootstrap-confirmation.min.js' %}"></script>