{% extends 'wingwoo/base.html' %}
{% load staticfiles %}

{% block header %}
<link href="{% static 'css/footer-fixed.css' %}" rel='stylesheet' type='text/css' />

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/fullcalendar.css' %}" />

<script src="{% static 'kartik-v-bootstrap-tabs-x/js/bootstrap-tabs-x.min.js' %}" type="text/javascript"></script>
<link href="{% static 'kartik-v-bootstrap-tabs-x/css/bootstrap-tabs-x.min.css' %}" media="all" rel="stylesheet" type="text/css" />

<link href="{% static 'image-picker/css/image-picker.css' %}" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="{% static 'image-picker/js/image-picker.min.js'%}"></script>

<script src="{% static 'kartik-v-bootstrap-fileinput/js/fileinput.js' %}" type="text/javascript"></script>
<link href="{% static 'kartik-v-bootstrap-fileinput/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

<script src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<link href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" media="all" rel="stylesheet" type="text/css" />

<script src="{% static 'js/loadingoverlay.js' %}"></script>

<script src="{% static 'js/vieworders.js' %}"></script>
<style type="text/css">
#header {
	background-color: #eaf3ff
}

.jsgrid {
	overflow: visible;
	font-size: 0.8em;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before, .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
	display: none;
}

.bookingjs {
	padding-bottom: 1em;
}

#timeslotModal .modal-dialog {
	min-width: 768px;
}

#timeslotModal .modal-footer p {
	font-size: 60%;
    margin: 0;
    display: inline-block;
    color: darkgrey;
}

#timeslotModal .modal-footer .form-inline {
	display: inline-block;
}

/* added for modifying the row height */
.fc-time-grid .fc-slats td {
	height: 6em;
}

.fc-time-grid .fc-slats td span {
	display: inline;
}

.confirmation {
	max-width: 100%;
}

.confirmation h3 {
	white-space: normal;
}

.confirmation .confirmation-buttons .btn-group {
	width: 100%;
}

.confirmation .confirmation-buttons .btn-group a {
	width: 50%;
}

.imagePickerModalButton {
	padding: 4px;
}

#view-booking-grid {
	overflow: visible;
	margin-bottom: 30px;
}

.jsgrid-cell > .thumbnail, .imagePickerModalButton {
	margin: auto;
	width: 90px;
}

.jsgrid-cell > .thumbnail > img, .imagePickerModalButton > img {
	display: block;
	margin: auto;
	width: 70px;
	height: 60px;	
	border-radius: 3px;
}

.jsgrid-cell > .thumbnail > p, .imagePickerModalButton > p {
	white-space: normal;
	font-size: 0.6em;
	margin: 0;
	text-align: center;
}

.imagePickerModalButton > p {
	font-size: 0.8em;
}

.multiples-checkbox-label {
	font-size: 0.7em;
	margin: 0;
	text-transform: capitalize;
}

.jsgrid-button-icon {
	text-shadow: 1px 1px 1px #ccc;
}

.jsgrid-delete-icon {
    color: red;
}

.jsgrid-custom-button[disabled] * {
    color: grey;
}

.jsgrid-custom-button[data-disabled=disabled] * {
    color: grey;
}

.jsgrid-book-icon {
	color: burlywood;
}

.jsgrid-custom-button:not([data-disabled=disabled]):hover {
	opacity: .5;
    transition: opacity 200ms linear;
}

.jsgrid-button-wrapper {
	display: inline;
}

.jsgrid-button-wrapper [disabled] {
	pointer-events: none;
}

.jsgrid-button-wrapper:not(:first-child) {
	margin-left: 10px;
}

.jsgrid-pager-container {
	text-align: center;
}

.js-grid-filter-label {
	float: left;
	font-size: 0.7em;
}

[type=checkbox]+label {
	padding-left: 25px;
}

[type=checkbox]+label {
	width: 15px;
	height: 15px;
	margin-top: 6px;
}

[type=checkbox]:checked+label:before {
	width: 9px;
    height: 19px;
}

[type=checkbox]:disabled:not(:checked)+label:before {
	margin-left: 0;
}

.repair-item-image, .file-default-preview > img, .file-preview-other-frame {
	width: auto !important;
    height: auto !important;
    max-height: 120px !important;
    max-width: -webkit-fill-available !important;
    display:block;
    margin:auto; 
}

.file-preview {
	padding: 0;
}

.file-drop-zone {
	width: fit-content;
	border: none;
	margin: auto;
	padding: 0;
}

.krajee-default.file-preview-frame {
	margin: 0;
	/*max-width: 180px;*/
}

.krajee-default.file-preview-frame .kv-file-content {
	height: auto;
	width: auto;
}

.btn.btn-primary.btn-file, .btn.btn-secondary.fileinput-remove {
	width: 100%;
}

.btn.btn-secondary.fileinput-remove {
	margin-bottom: 5px;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
	margin-top: 5px;
	height: auto;
}

#button-book-wrapper {
	display: inline-block;
}

#button-book-wrapper .btn[disabled] {
	pointer-events: none;
}

#button-book-wrapper.disabled {
	cursor: not-allowed;
}

</style>
{% endblock %}

{% csrf_token %}

{% block title %}
My Orders
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class='real-form-group'>
		<h2>My Orders</h2>
	</div>

	<div id="view-orders" >
		<div class='tabs-x tabs-above tabs-krajee'>
		    <ul id="order-tabs-above" class="nav nav-tabs" role="tablist">
		        <li class="active"><a href="#unpaid-order-tab-above" role="tab" data-toggle="tab">Unpaid Orders</a></li>
		        <li><a href="#paid-order-tab-above" role="tab-kv" data-toggle="tab">Paid Orders</a></li>
		    </ul>
		    <div id="order-tab-contents-above" class="tab-content">
		        <div class="tab-pane fade in active" id="unpaid-order-tab-above">
		        	<div>
			        	<div><h4>Purchase Orders:</h4></div>
						<div id="view-unpaid-purchase-orders-grid"></div>
					</div>
					<br>
					<div>
						<div><h4>Repair Orders:</h4></div>
						<div id="view-unpaid-repair-orders-grid"></div>
					</div>
					<br>
					<div>
						<div><h4>Measurement Bookings:</h4></div>
						<div id="view-booking-grid"></div>
					</div>
		        </div>
		        <div class="tab-pane fade" id="paid-order-tab-above">
		        	<div>
			        	<div><h4>Purchase Orders:</h4></div>
						<div id="view-paid-purchase-orders-grid"></div>
					</div>
					<div>
						<div><h4>Repair Orders:</h4></div>
						<div id="view-paid-repair-orders-grid"></div>
					</div>
		        </div>
		    </div>
		</div>
	</div>
	
	<div class="row" id="order-message" >
	</div>
	
	<div class="modal fade" id="timeslotModal" tabindex="-1" role="dialog" aria-labelledby="timeslotModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="timeslotModalLabel">Choose Timeslot</h4>
	    	</div>
			<div class="modal-body" id="timeslotModalBody">
				<div id="bookingjs" class="bookingjs has-timezonehelper has-avatar has-displayname">
			        <div id="calendar" class="bookingjs-calendar">
			        </div>
			    </div>
			</div>
			<div class="modal-footer">
				<p>
					<i class="fa fa-exclamation-circle"></i> Finished measurement without payment of any including order for more than 120 days will cause a HK$300 fee 
				</p>
				<div class='real-form-group form-inline'>
					<input type="checkbox" id="receivable-agree">
					<label class="multiples-checkbox-label" for="receivable-agree"></label>
				</div>
				<div id="button-book-wrapper" data-toggle="tooltip" data-placement="top" title="Please selected a valid timeslot and check the agreement">
					<button type="button" id="button-book" class="btn btn-primary btn-success" disabled></button>
				</div>
			</div>
	   	</div>
	  </div>
	</div>
	
	{% include 'wingwoo/modal_color.html' with queryset=color_queryset %}
	{% include 'wingwoo/modal_pattern.html' with queryset=pattern_queryset %}
</div>
{% endblock %}