{% load widget_tweaks %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="real-form-group-fix">
    
    {{ field.label_tag }}
    <div class="form-inline">
    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control is-valid" %}
        
        {% endif %}
    {% else %}
      {% render_field field class="form-control" %}
      <button type="button" class="btn btn-basic boatModalButton"><span class="glyphicon glyphicon-plus"></span></button>
      <button type="button" class="btn btn-primary boatEditButton"><span class="glyphicon glyphicon-pencil"></span></button>
      <button type="button" class="btn btn-danger boatRemoveButton"><span class="glyphicon glyphicon-remove"></span></button>
    {% endif %}
    </div>
    {% if field.help_text %}
      {% autoescape off %}
      <span class="help-block">{{ field.help_text }}</span>
      {% endautoescape %}
    {% endif %}
    
  </div>
{% endfor %}