<div class="modal fade" id="boatModal" tabindex="-1" role="dialog" aria-labelledby="boatModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="boatModalLabel">Add Boat</h4>
			</div>
			<form id="boatForm">
				<div class="modal-body" id="boatModalBody">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" id="button-boat" class="btn btn-primary">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>