{% extends 'forms/PurchaseOrder.html' %}

{% load widget_tweaks %}

{% block colorpattern %}
<div class="real-form-group">
	{% with field=form.pattern %}
		{{ field.label_tag }}
		<div class="form-inline">
		{% if form.is_bound %}
			  {% if field.errors %}
				  {% include "wingwoo/field_pattern.html" with class="form-control is-invalid" field=field %}
				{% for error in field.errors %}
				<div class="invalid-feedback">
					{{ error }}
				</div>
				{% endfor %}
			{% else %}
				{% include "wingwoo/field_pattern.html" with class="is-valid" field=field %}
			{% endif %}
		{% else %}
			{% include "wingwoo/field_pattern.html" with class="" field=field %}
		{% endif %}
		</div>
			{% if field.help_text %}
			{% autoescape off %}
			<span class="help-block">{{ field.help_text }}</span>
			{% endautoescape %}
		{% endif %}
	{% endwith %}
</div>
{% endblock %}

{% block addons %}
<div class='real-form-group'>
	<label>Add-ons:</label>
	<div>
		{% render_field form.waterproof %}<label class="checkbox-inline" for="id_waterproof">Waterproof &nbsp</label>
		{% render_field form.underlay %}<label class="checkbox-inline" for="id_underlay">Underlay &nbsp</label>
		{% render_field form.edge %}<label class="checkbox-inline" for="id_edge">Edge &nbsp</label>
	</div>
</div>
{% endblock %}