<div class="modal fade" id="editBoatModal" tabindex="-1" role="dialog" aria-labelledby="editBoatModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="editBoatModalLabel">Edit Boat</h4>
			</div>
			<form id="editBoatForm">
				<div class="modal-body" id="editBoatModalBody">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" id="button-edit-boat" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>