{% load widget_tweaks %}

<div class="real-form-group">
	{{ field.label_tag }}
	<div class="form-inline">
	{% if form.is_bound %}
		{% if field.errors %}
			{% render_field field class="form-control is-invalid" %}
			{% for error in field.errors %}
			<div class="invalid-feedback">
				{{ error }}
			</div>
			{% endfor %}
		{% else %}
			{% render_field field class="form-control is-valid" %}
		{% endif %}
	{% else %}
		{% render_field field class="form-control" %}
		<button type="button" class="btn btn-primary boatModalButton" {% if is_authenticated == False %}disabled{% endif %}>Add Boat</button>
	{% endif %}
	</div>

	{% if field.help_text %}
		{% autoescape off %}
		<span class="help-block">{{ field.help_text }}</span>
		{% endautoescape %}
	{% endif %}
</div>