{% load widget_tweaks %}

<div class="real-form-group">
		<label>Size (ft):</label>
		<div>
		{% if form.is_bound %}
		  	{% if field_length.errors or field_width or field_height or field_known_size%}
		    	{% render_field field_length class="form-control is-invalid" %}
		    	{% for error in field_length.errors %}
				<div class="invalid-feedback">
					{{ error }}
				</div>
		    	{% endfor %}
		    	{% render_field field_width class="form-control is-invalid" %}
		    	{% for error in field_width.errors %}
				<div class="invalid-feedback">
					{{ error }}
				</div>
		    	{% endfor %}
		    	{% render_field field_height class="form-control is-invalid" %}
		    	{% for error in field_height.errors %}
				<div class="invalid-feedback">
					{{ error }}
				</div>
		    	{% endfor %}
		    	<label>I don't know the size</label>
		    	{% render_field field_known_size class="form-control is-invalid" %}
		    	{% for error in field_known_size.errors %}
				<div class="invalid-feedback">
					{{ error }}
				</div>
		    	{% endfor %}
			{% else %}
				{% render_field field_length class="form-control is-valid" %}
				{% render_field field_width class="form-control is-valid" %}
				{% render_field field_height class="form-control is-valid" %}
				<label>I don't know the size</label>
				{% render_field field_known_size class="form-control is-valid" %}
			{% endif %}
		{% else %}
			<div class="col-md-4 col-sm-4" style="padding-left:0">
				<label class="size-label">Length:</label>
				{% render_field field_length class="form-control" %}
			</div>
			<div class="col-md-4 col-sm-4">
				<label class="size-label">Width:</label>
				{% render_field field_width class="form-control" %}
			</div>
			<div class="col-md-4 col-sm-4">
				<label class="size-label">Height:</label>
				{% render_field field_height class="form-control" %}
			</div>
		{% endif %}
		</div>
</div>
<div class='real-form-group form-inline' >
	{% render_field field_known_size class="form-control" %}
	<label class="size-label" for="{{ field_known_size.id_for_label }}">I don't know the size</label>
</div>