{% extends 'forms/PurchaseOrder.html' %}

{% block colorpattern %}
<div class="real-form-group">
	{% with field=form.color %}
		{{ field.label_tag }}
		<div class="form-inline">
		{% if form.is_bound %}
		  	{% if field.errors %}
		  		{% include "wingwoo/field_color.html" with class="form-control is-invalid" field=field %}
		    	{% for error in field.errors %}
				<div class="invalid-feedback">
					{{ error }}
				</div>
		    	{% endfor %}
		    {% else %}
				{% include "wingwoo/field_color.html" with class="is-valid" field=field %}
			{% endif %}
		{% else %}
			{% include "wingwoo/field_color.html" with class="" field=field %}
		{% endif %}
		</div>

		{% if field.help_text %}
			{% autoescape off %}
			<span class="help-block">{{ field.help_text }}</span>
			{% endautoescape %}
		{% endif %}
	{% endwith %}
</div>
{% endblock %}