{% load staticfiles %}
<!--//End-header-->
<form id="purchase-form" name="purchase-form" class="add-to-cart-form" method="post" enctype="multipart/form-data" action="{{ purchaseurl }}">
    {% csrf_token %}
    {% load widget_tweaks %}

	{% if form.non_field_errors %}
		<div class="alert alert-danger" role="alert">
		{% for error in form.non_field_errors %}
			{{ error }}
		{% endfor %}
		</div>
	{% endif %}

	<input type="hidden" name="product_id" value="{{ product_id }}">

	{% render_field form.member class="form-control" %}
	<div>
		{% include 'forms/field_size.html' with field_length=form.length field_width=form.width field_height=form.height field_known_size=form.known_size %}



		<div class="real-form-group">
			{% with field=form.quantity %}
				{{ field.label_tag }}
				<div class="form-inline">
				{% if form.is_bound %}
				  	{% if field.errors %}
				    	{% render_field field class="form-control is-invalid" %}
				    	{% for error in field.errors %}
						<div class="invalid-feedback">
							{{ error }}
						</div>
				    	{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}
				</div>

				{% if field.help_text %}
					{% autoescape off %}
					<span class="help-block">{{ field.help_text }}</span>
					{% endautoescape %}
				{% endif %}
			{% endwith %}
		</div>
		
		{% block colorpattern %}
		{% endblock %}

		{% block addons %}
		{% endblock %}

		<div id="price-detail">
			<label >Price:</label>
			<label id="purchaseprice">waiting for product information</label>
		</div>
	</div>

	<div class='form-footer'>
		{% include 'forms/field_boat.html' with field=form.boat is_authenticated=is_authenticated %}
		{% include 'forms/add_to_cart_button.html' with is_authenticated=is_authenticated %}
	</div>
</form>