{% load staticfiles %}
<!--//End-header-->
<form id="repair-form" name="repair-form" class="add-to-cart-form" method="post" enctype="multipart/form-data" action="{{ repairurl }}">
    {% csrf_token %}
    {% load widget_tweaks %}

	{% if form.non_field_errors %}
		<div class="alert alert-danger" role="alert">
		{% for error in form.non_field_errors %}
			{{ error }}
		{% endfor %}
		</div>
	{% endif %}


	{% render_field form.member class="form-control" %}

	<div>
		<div class="real-form-group">
			{% with field=form.image %}
				{{ field.label_tag }}
				<div class="form-inline">
				{% if form.is_bound %}{% if field.errors %}
						{% include 'forms/input_image.html' with class="form-control is-invalid" %}
				    	{% for error in field.errors %}
						<div class="invalid-feedback">
							{{ error }}
						</div>
				    	{% endfor %}
					{% else %}
						{% include 'forms/input_image.html' with class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% include 'forms/input_image.html' with class="form-control" %}
				{% endif %}
				</div>

				{% if field.help_text %}
					{% autoescape off %}
					<span class="help-block">{{ field.help_text }}</span>
					{% endautoescape %}
				{% endif %}
			{% endwith %}
		</div>

		{% include 'forms/field_size.html' with field_length=form.length field_width=form.width field_height=form.height field_known_size=form.known_size %}

		<div id="price-detail">
			<label id="repairprice" style="color: red;">Notice: Price will be quoted by Wing Woo</label>
		</div>
	</div>
	<div class='form-footer'>
		{% include 'forms/field_boat.html' with field=form.boat is_authenticated=is_authenticated %}
		{% include 'forms/add_to_cart_button.html' with is_authenticated=is_authenticated %}
    </div>
</form>

