{% extends 'admin/base.html' %}
{% load i18n admin_static suit_tags %}

{% block stylesheet %}{% static "suit/css/suit.css" %}{% endblock %}

{% block extrastyle %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='{% static "suit/css/font-awesome.min.css" %}' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/icon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/icon/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'admin/js/main.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static 'bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-multiselect/css/bootstrap-multiselect.css' %}" type="text/css"/>

    <script type="text/javascript" src="{% static 'bootstrap-notify/js/bootstrap-notify.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-notify/css/animate.css' %}" type="text/css"/>

    <link rel="stylesheet" href="{% static 'fonts/css/font-awesome.min.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super|suit_body_class:request }}{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">Wing Woo<span class="header-label">{% trans 'Admin' %}</span></a>
    </h1>
{% endblock %}

{% block pretitle %}
<div class="content-wrap">
    {% block messages %}
        {% if messages %}
            <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
{% endblock %}

{% block sidebar %}
    </div> <!-- Close content-wrap -->
{% endblock %}

{% block usertools %}
    {% if has_permission %}
        <div id="user-tools" class="suit-user-tools">
            {% block welcome-msg %}

<script type="text/javascript">
var URL_NYT_GET_NEW = '{% url "nyt:json_get" %}';
var URL_NYT_MARK_READ = '{% url "nyt:json_mark_read_base" %}';
var URL_NYT_GOTO = '{% url "nyt:goto_base" %}';

var nyt_oldest_id = 0;
var nyt_latest_id = 0;

// Customixed error handling?
function ajaxError(){}

$.ajaxSetup({
    timeout: 7000,
    cache: false,
    error: function(e, xhr, settings, exception) {
        ajaxError();
    }
});

function jsonWrapper(url, callback) {
    $.getJSON(url, function(data) {
        if (data == null) {
            ajaxError();
        } else {
            callback(data);
        }
    });
}

function nyt_update() {
    jsonWrapper(URL_NYT_GET_NEW+nyt_latest_id+'/', function (data) {
        if (data.success) {
            if (data.objects.length> 0) {
                $('.notification-cnt').addClass('badge-important');
                $('.notifications-empty').hide();
            } else {
                $('.notification-cnt').removeClass('badge-important');
            }

            var count = 0;

            //$('.notification-li').remove();

            for (var i=data.objects.length-1; i >=0 ; i--) {
                var n = data.objects[i];
                nyt_latest_id = n.pk>nyt_latest_id ? n.pk:nyt_latest_id;
                nyt_oldest_id = (n.pk<nyt_oldest_id || nyt_oldest_id==0) ? n.pk:nyt_oldest_id;
                count += parseInt(n.occurrences);
                if (n.occurrences > 1) {
                    element = $('<li><a href="'+URL_NYT_GOTO+n.pk+'/"><span>'+n.message+'</span> <span class="since">'+n.occurrences_msg+' - ' + n.since + '</span></a></li>')
                } else {
                    element = $('<li><a href="'+URL_NYT_GOTO+n.pk+'/"><span>'+n.message+'</span> <span class="since">'+n.since+'</span></a></li>');
                }
                element.addClass('notification-li');
                element.hide();
                element.insertAfter('.notification-before-list');
                element.show('slow');
            }

            if (parseInt(data.total_count) > 0) {
                $('.notification-cnt').html(data.total_count);
            } else {
                $('.notification-cnt').html('0');
            }

            if (data.total_count == 0) {
                $('[data-toggle="popover"]').popover('hide');
            } else{
                $('[data-toggle="popover"]').popover({trigger: 'manual'}).popover('show');
                $('[data-toggle="popover"]').on('mouseover',function(){$(this).popover('hide');});
            }
        }
    });
}

// Mark all <li> items read and tell the server.
function nyt_mark_read(e) {
    e.preventDefault();

    $('.notification-li').remove();

    var url = URL_NYT_MARK_READ+nyt_latest_id+'/'+nyt_oldest_id+'/';
    nyt_oldest_id = 0;
    nyt_latest_id = 0;

    jsonWrapper(url, function (data) {
        if (data.success) {
            $('.notifications-empty').show();
            nyt_update();
        }
    });
}

var socket = new WebSocket("ws://localhost:8000/nyt");
$(document).ready(function () {
    socket.onopen = function() {
        socket.send("hello world");
    }
    socket.onmessage = function(e) {
        nyt_update();
    }
});
</script>

<style>
body.suit_layout_vertical #header .suit-user-tools .welcome, .suit-user-tools > div.dropdown {
    display: inline-block;
}

.dropdown:hover #notifications {
    display: block;
}

#noti-nav.dropdown-toggle::after {
    display: none;
}

li.notification-before-list > h4 {
    color: darkgrey;
    text-indent: 15px;
    font-size: 18px;
}

body.suit_layout_vertical #header li.notification-before-list h4 a {
    padding-left: 0;
    display: inline;
    text-decoration: none;
}

body.suit_layout_vertical #header a {
    color: #394346;
}

body.suit_layout_vertical #header a:hover {
    color: #FD3B01;
    text-decoration: none;
}

li.notification-before-list > h4 > a > i {
    display: unset;
}

.dropdown-menu > li > a {
    display: block;
    margin: auto;
    width: fit-content;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.dropdown-menu {
    min-width: 11rem;
}

li.notification-li a span.since {
    color: grey;
    font-size: 80%;
}

body.suit_layout_vertical:not(.login) #container #header {
    width: 190px;
}

body.suit_layout_vertical #container > .breadcrumbs {
    left: 190px;
}

</style>

            <span class="welcome">
                Welcome,
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            </span>
            <div class="dropdown">
                <a class="scroll dropdown-toggle" id="noti-nav" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown"><span class="badge notification-cnt"></span></a>
                <ul class="dropdown-menu" id="notifications" aria-labelledby="noti-nav">
                    <li class="notification-before-list"><h4 class="header">Notifications <a href="" onclick="nyt_mark_read(event)"><i class="fa fa-check-circle" aria-hidden="true"></i></a></li></h4>
                    <li class="notifications-empty"><a href=""><em>No notifications</em></a></li>
                </ul>
            </div>
            {% endblock %}
            <div class="user-links">
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}" class="icon-link view-site-link" data-title="{% trans 'View site' %}">{% trans 'View site' %}</a>
                    <span class="separator">/</span>

                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}" class="icon-link documentation-link" data-title="{% trans 'Documentation' %}">{% trans 'Documentation' %}</a>
                        <span class="separator">/</span>
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}" class="icon-link change-password-link" data-title="{% trans 'Change password' %}">{% trans 'Change password' %}</a>
                    <span class="separator">/</span>
                {% endif %}
                <a href="{% url 'admin:logout' %}" class="icon-link logout-link" data-title="{% trans 'Log out' %}">{% trans 'Log out' %}</a>
            {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block nav-global %}
    {% include 'suit/suit_menu.html' %}
{% endblock %}

{% block footer %}
{#    </div> <!-- Put footer outside #container -->#}
    {% if not is_popup %}
        <!---<div id="footer">
        <footer class="footer">
            <div class="container-fluid">
                {% block footer_content %}
                    <div class="row">

                        <div class="col-xs-12 col-sm-3 footer-links">
                            {% block footer_links %}
                                <a href="http://djangosuit.com/support/" target="_blank">Support</a>
                                <a href="http://djangosuit.com/pricing/" target="_blank">Licence</a>
                                <a href="http://github.com/darklow/django-suit/issues" target="_blank">Report a bug</a>
                            {% endblock %}
                        </div>

                        <div class="col-xs-12 col-sm-6 text-sm-center footer-copyright">
                            {% block copyright %}
                                Copyright &copy;
                                <span class="hidden-md-down">2013-</span>{% now "Y" %} DjangoSuit.com
                                <br>Developed by
                                <a href="http://djangosuit.com" target="_blank">DjangoSuit.com</a>
                            {% endblock %}
                        </div>

                        <div class="col-xs-12 col-sm-3 text-sm-right footer-version">
                            {% block footer_branding %}
                                {% with admin_name=site_header|default:_('Django administration') django_version='django_version'|suit_conf:request %}
                                    {{ admin_name }}
                                    {% if admin_name == 'Django Suit' %}
                                        <span style="font-size: 12px">
                                            {{ 'version'|suit_conf:request }}<br/>
                                            Django {{ django_version }}
                                        </span>
                                    {% endif %}
                                {% endwith %}
                            {% endblock %}
                        </div>

                    </div>
                {% endblock %}
            </div>
        </footer>-->
    {% endif %}

{#    {{ block.super }}#}
    <script src="{% static "suit/js/suit.js" %}"></script>
    {% if cl.formset or action_form and 'toggle_changelist_top_actions'|suit_conf:request %}
        <script type="text/javascript">
            Suit.ListActionsToggle.init();
        </script>
    {% elif adminform %}
        <script type="text/javascript">

            Suit.$("#{{ opts.model_name }}_form").suitFormDebounce();

            {% if 'form_submit_on_right'|suit_conf:request %}
                Suit.FixedBar.init();
            {% endif %}

            {% if adminform.model_admin.suit_form_tabs %}
                Suit.$(function () {
                    Suit.$('#suit_form_tabs').suitFormTabs();
                });
            {% endif %}

{#            {% if 'layout'|suit_conf:request.current_app == 'vertical' %}#}
{#                Suit.$('#content').prepend(Suit.$('.breadcrumbs'));#}
{#            {% endif %}#}
        </script>
    {% endif %}

{#    <div> <!-- Fix/close div previously closed by footer -->#}
{% endblock %}
